{% extends 'index.html' %}

{% block content %}
    <h1>Форум</h1>
    <strong>{{ post.title }}</strong>
    <p>{{ post.description }}</p>
    <p>{{ post.created_at }}</p>
    <hr>
    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}
    <hr>
    <a href="{% url 'add_comment' post.pk%}" class="btn btn-info">Добавить комментарий</a>
    <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Изменить</a>
    <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Удалить</a>
    <hr>
    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <p>{{ comment.description }}</p>
            <p>{{ comment.created_at }}</p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}